.Landing {
  text-align: center;
  width: 100%;
  .Landing__logo {
    margin-top: 70px;
    width: 72px;
  }
  .logo-title {
    line-height: 40px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 15px;
  }
}


