@import "colors.scss";

.accountSetting-box {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: $gray;
  padding-top: 40px;
  ul {
    padding: 0;
    height: 80*6px;
    overflow-y: auto;
    li {
      display: flex;
      align-items: center;
      list-style: none;
      height: 80px;
      padding-left: 40px;
      cursor: pointer;
      &:hover {
        background-color: $white;
      }
      > i {
        display: inline-block;
        width: 25*0.8px;
        background-size: cover;
        margin-right: 20px;
        &.accountManage {
          height: 20*0.8px;
          background-image: url("/static/images/icon-accountManage.png");
        }
        &.changeLanguage {
          height: 20*0.8px;
          background-image: url("/static/images/icon-changeLanguage.png");
        }
        &.changePwd {
          height: 25*0.8px;
          background-image: url("/static/images/icon-changePwd.png");
        }
        &.lock {
          height: 25*0.8px;
          background-image: url("/static/images/icon-lock.png");
        }
        &.whitelist {
          height: 25*0.8px;
          background-image: url("/static/images/icon-whitelist.png");
        }
        &.iostWallet {
          height: 19*0.8px;
          background-image: url("/static/images/icon-iostWallet.png");
        }
      }
      .name {
        font-size: 18px;
        color: #333333;
      }
    }
  }
}
