@import "colors.scss";

.TokenBalance-box {
  display: inline-block;
  text-align: center;
  min-height: 169px;
  text-decoration: none;
  width: 100%;
  .logo-box {
    margin-top: 30px;
    >img {

    }
    .logo {
      width: 72px;
    }
  }
  .TokenBalance-amount-box {
    margin: 15px 0 20px;
    font-size: 16px;
  }
  .TokenBalance-number-box{
    
  }
  .TokenBalance__amount {
    font-size: 22px;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
  }
  .TokenBalance__symbol {
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .TokenBalance__frozenBalance {
    display: inline-block;
    margin-left: 2px;
    color: $frozen;
    font-size: 14px;
  }
  .TokenBalance__resources {
    font-size: 14px;
    font-weight: 300;
    .TokenBalance__ram {
      display: inline-block;
      margin-left: 10px;
      // text-decoration: underline;
      cursor: pointer;
    }
    .TokenBalance__gas{
      // text-decoration: underline;
      cursor: pointer;
    }
    .TokenBalance__resources_manage{
      margin-top: 10px;
      a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: underline;
        &:first-child{
          margin-right: 12px;
        }
      }
    }
  }

  .progress-wrapper {
    display: flex;
    justify-content: space-between;
    .progress-box {
      width: 155px;
      height: 64px;
      padding: 15px;
      cursor: pointer;
      box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.05);
      background-color: $white;
      border-radius: 4px;
      font-weight: 400;
      .ram-default {
        font-size: 14px;
        line-height: 14px;
        display: flex;
        justify-content: space-between;

      }
      .ram-used {
        font-size: 12px;
        line-height: 12px;
        display: flex;
        justify-content: space-between;
      }

      .percent {
        color: #1E64E2;
      }

      .progress-wrap {
        margin: 10px 0 5px;
        background-color: #DCE6F2;
        border-radius: 5px;
        .progress-inner {
          border-radius: 5px;
          background-color: #6598F4;
          height: 10px;
          transition: width 1s;
        }
      }
    }
  }


  .coin-list-wrapper {
    overflow-y: auto;
    height: 200px;
    margin-top: 10px;
    .coin-box {
      margin-bottom: 10px;
      height: 60px;
      padding: 10px 15px;
      box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.05);
      background-color: $white;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      .img-name {
        display: flex;
        align-items: center;
        .coin-img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
      }
    }

    .add-token {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: cover;
        background-image: url("/static/images/icon-add.png");
        margin-right: 5px;
      }
    }
  }

}

