@import "colors.scss";

.TokenBalance-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
  min-height: 169px;
  .logo-box {
    margin-top: 30px;
    .logo {
      width: 72px;
    }
  }
  .TokenBalance-amount-box {
    margin: 15px 0 10px;
  }
  .TokenBalance__amount {
    font-size: 22px;
    display: inline-block;
    margin-right: 5px;
  }
  .TokenBalance__symbol {
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
  }
  .TokenBalance__frozenBalance {
    display: inline-block;
    margin-left: 2px;
    color: $frozen;
    font-size: 14px;
  }
  .TokenBalance__resources {
    font-size: 16px;
    font-weight: 300;
    .TokenBalance__ram {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
