@import "colors.scss";

:global{
  .toast{
    position: fixed;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // // align-items: center;
    // text-align: center;
    // left: 0;
    z-index: 99900;
    top:65px;
    left: 50%;
  }
  .toast-notice{
    position: relative;
    right: 50%;
  }
  .toast-notice-close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;

    &:after{
      content: '\D7';
      color: black;
      width: 100%;
    }
  }

}

.toast-text{
  min-width: 300px;
  display: inline-block;
  margin: auto 0px;
  border-radius: 4px;
  color: #333333;
  background-color: #EFEFEF;
  font-size:16px;
  font-weight: 300;
  line-height: 1.18;
  padding: 18px 20px;
  text-align: center;
  box-sizing: border-box;
  .toast-icon {
    border-radius: 14px;
    padding: 15px;
    .toast-text-info{
      margin-top: 12px;
    }
  }
  a{
    text-decoration: none;
    color: #2bffee;
  }
}

.icon{
  fill: currentColor;
  background-size: cover;
  width:44px;
  height: 44px;
}
.success{
  background-color: #98CB98;
}
.html{
  //background-color: #d14;
}
