@import "colors.scss";

:global{
  .toast{
    position: fixed;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // // align-items: center;
    // text-align: center;
    // left: 0;
    z-index: 99900;
    top:65px;
    left: 50%;
  }
  .toast-notice{
    position: relative;
    right: 50%;
  }
  .toast-notice-close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;

    &:after{
      content: '\D7';
      color: $white;
      width: 100%;
    }
  }

}

.toast-text{
  min-width: 200px;
  display: inline-block;
  margin: auto 0px;
  // margin-top: 100px;
  border-radius: 6px;
  color: #fff;
  //background-color: rgba(58, 58, 58, .9);
  // background-color: #0091DC;
  background-image: linear-gradient(#3a0a24,#1c0d1e);
  box-shadow: 0px -2px 5px 2px rgba(130,32,18,0.75) inset,0 0 0px 2px rgba(255,198,0,.5);
  font-size:16px;
  line-height: 1.18;
  padding: 18px 20px;
  text-align: center;
  box-sizing: border-box;
  // padding: 9px 15px;
  .toast-icon {
    border-radius: 14px;
    padding: 15px;
    .toast-text-info{
      margin-top: 12px;
    }
  }
  a{
    text-decoration: none;
    color: #2bffee;
  }
}

.icon{
  fill: currentColor;
  background-size: cover;
  width:44px;
  height: 44px;
}
.success{
  background-color: #98CB98;
}
.html{
  background-color: #d14;
}
