$black: #000000;
$white: #FFFFFF;
$brand-black: #2D2E31;
$brand-blue: #5670B0;
$brand-black2: #2B3338;
$light-grey: #e5e5e5;
$dark-grey: #4d4d4d;
$light-grey2: #aeaeae;
$brand-red: #D28B7B;
$brand-deepblue: #536886;
