$black: #000000;
$white: #FFFFFF;
$brand-black: #2D2E31;
$brand-blue: #5670B0;
$brand-black2: #2B3338;
$light-grey: #e5e5e5;
$dark-grey: #4d4d4d;
$light-grey2: #aeaeae;
$brand-red: #D28B7B;
$brand-deepblue: #536886;
$frozen: #7AA2BC;

$ram-gauge: #599188;
$gas-gauge: #364869;


$gray: #F6F6F6;
$input-text: #B5B5B5;
$title-text: #999999;
$border: #C4C4C4;
$blue: #1E64E2;
$green: #1AA757;
$btn-gray: #B9B9B9;
$red: #F17575;


