@import "colors.scss";

.accountManage-box {
  position: relative;
  width: 100%;
  padding-top: 40px;
  height: 540px;
  background-color: $gray;
  text-align: center;
  overflow: scroll;
  .account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    // &:nth-child(2n+1) {
    //   background-color: $white;
    // }
    .left {
      span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
      }
      .account-name-box {
        text-align: left;
        .account-title {
          text-align: center;
          width: 70px;
          height: 20px;
          line-height: 20px;
          color: $white;
          background-color: #E28A1E;
          &.test {
            background-color: $green;
          }
          &.local {
            background-color: $blue;
          }
        }
        .account-name {
          margin-left: 15px;
        }
      }
      .publicKey-box {
        display: flex;
        align-self: center;
        text-align: left;
        margin-top: 10px;
        .publicKey-title {
          text-align: center;
          width: 70px;
          height: 20px;
          line-height: 20px;
          color: $white;
          background-color: $btn-gray;
        }
        .publicKey-name {
          margin-left: 15px;
          display: flex;
          align-items: center;
          .truncate {
            max-width: 200px !important;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .copy {
            display: inline-block;
            margin-left: 5px;
            width: 15px;
            height: 19px;
            background-image: url("/static/images/copy.png");
            background-size: cover;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      width: 20px;
      height: 22px;
      background-image: url("/static/images/delete.png");
      background-size: cover;
      cursor: pointer;
    }
  }
}
