@import "colors.scss";

.gasManage-box {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: $gray;
  padding: 15px;
  overflow: auto;
}

.progress-box {
  height: 80px;
  background-color: $white;
  border-radius: 4px;
  padding: 15px;
  .ram-default {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
  }
  .ram-used {
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
  }
  .progress-wrap {
    margin: 10px 0 5px;
    background-color: #DCE6F2;
    border-radius: 5px;
    .progress-inner {
      border-radius: 5px;
      background-color: #6598F4;
      height: 10px;
    }
  }
}

.selling-gas{
  margin: 15px 0;
  padding: 15px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  span{
    &:last-child{
      color: #1E64E2;
    }
  }
}

.gas-content-box {
  position: relative;
  margin-top: 15px;
  background-color: $white;
  // height: 326px;
  border-radius: 4px;
  padding: 15px;
  .toggle-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    .toggle-buy, .toggle-sell {
      position: relative;
      &.active {
        &:before {
          content: '';
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: #6598F4;

        }
      }
    }
    .toggle-sell {
      display: inline-block;
      margin-left: 25px;
    }
  }

  .toggle-box {
    margin-top: 30px;
    .buy-box, .seal-box{
      display: none;
      &.active {
        display: block;
      }
      .buy-title {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        line-height: 13px;
        font-weight: bold;
        margin-bottom: 10px;
        .buy-amount {

        }
        .buy-price {
          color: #1E64E2;
        }

      }
      .input-buyAmount, .input-address {
        background-color: #F6F6F6;
        padding-left: 15px;
        margin-bottom: 10px;
      }

      .equal-iost {
        margin-top: 5px;
        text-align: right;
        font-size: 14px;
        line-height: 14px;
        color: #333333;
      }
      .address-title {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        margin: 15px 0 10px;
      }
    }
  }
}

.gas-btn-submit {
  // position: absolute;
  // bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  &:disabled{
    cursor: not-allowed;
  }
}

.gas-records{
  margin: 15px 0;
  .title{
    position: relative;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    &:before{
      content: '';
      border-bottom: 1px solid #ddd;
      width: 100%;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 1;
    }
    span{
      padding: 0 5px;
      position: relative;
      z-index: 2;
      background-color: #F6F6F6;
    }
  }
  ul{
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}