@import "colors.scss";

.account-currentName-box {
  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E28A1E;
    margin-right: 8px;
    &.test {
      background-color: $green;
    }
  }
  .account-name {
    font-size: 14px;
    flex: 1;
    cursor: pointer;
  }
  .arrow {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 8px;
    cursor: pointer;
    margin-left: 8px;
    &.arrow-hide {
      display: none;
    }
    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      border: 1px solid #999999;
      // transition: 0.3s all ease-in-out;
    }
    &.arrow-down {
      // margin-left: 8px;
      &:before {
        transform: translateY(-4px) rotateZ(45deg);
        border-top-color: transparent;
        border-left-color: transparent;
      }
    }

    &.arrow-right {
      // margin-left: 5px;
      &:before {
        transform: translateY(-1px) rotateZ(45deg);
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
  }
}

.account-box {
  position: relative;
  text-align: center;
  background-color: $gray;
  height: 540px;
  padding: 0 20px;
  overflow: hidden;
  .nameList-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    border-radius: 4px;
    background-color: $gray;
    overflow: hidden;
    height: 0;
    border: none;
    transition: height 2s;
    &.show {
      height: auto;
      border: 1px solid #C4C4C4;
    }
    .accountName-list {
      max-height: 300px;
      overflow: scroll;
      li {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 25px;
        cursor: pointer;
        &:hover {
          background-color: $white;
        }
        .account-title {
          text-align: center;
          width: 50px;
          height: 20px;
          line-height: 20px;
          color: $white;
          background-color: #E28A1E;
          &.test {
            background-color: $green;
          }
        }
        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #E28A1E;
          &.test {
            background-color: $green;
          }
        }
        .account-name {
          font-size: 14px;
          flex: 1;

        }
        .check {
          display: inline-block;
          width: 10px;
          height: 8px;
          &.checked {
            background-image: url("/static/images/icon-nameChecked.png");
            background-size: cover;
          }
        }
      }

    }
  }

  .btn-box {
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    &.active{
      display: flex;
    }
    > button {
      &:hover {
        background-color: #000000;
        color: $white;
      }
    }
    a{
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
      outline: 0;
      text-align: center;
      transition: background-color 300ms, color 300ms;
      width: 120px;
      height: 40px;
      line-height: 40px;
      background-color: #FFFFFF;
      color: #000000;
      border: 1px solid;
      text-decoration: none;
      &:hover {
        background-color: #000000;
        color: $white;
      }
    }
    .btn-receipt {
      margin-left: 20px;
    }
  }
  .dealRecord-box {
    margin-top: 25px;
    display: none;
    .title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .line {
        width: 100px;
        height: 1px;
        background-color: #D8D8D8;
      }
      .title {
        color: #666666;
        font-size: 16px;
      }
    }
    .list-box {

      font-size: 14px;
      overflow: scroll;
      height: 203px;
      .item-box {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D8D8D8;
        padding: 10px 0;
        &:last-child {
          border: none;
        }
        .left, .right {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
        .left {
          text-align: left;
          .time {
            color: #999999;
          }
        }
        .right {
          text-align: right;
          .status {
            display: inline-block;
            width: 50px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: $white;
            text-align: center;
            align-self: flex-end;
            margin-bottom: 7px;
            &.confirmed {
              background-color: $green;
            }
            &.notApproved {
              background-color: #8E8E8E;
            }
            &.failure {
              background-color: #DE5151;
            }
          }
        }
      }
    }
  }
}
