@import "colors.scss";

.modal-wrapper{
  position: relative;
  width: 644px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
  .content-box{
    line-height: 1.4;
    .title {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      color: #333333;
      margin: 0;
    }
  }
  .icon-close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-image: url('/static/images/icon-close.png');
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center center;
    &:active{
      opacity: 0.9;
    }
  }
  p{
    margin-bottom: 5px;
    a{
    }
  }
}

.delete-wrapper {
  background-color: $white;
  height: 214px;
  border-radius: 4px;
  .delete-container {
    width: 300px;
    padding: 18px 20px 0;
    color: #333333;
    .confirmDelTip {
      font-size: 13px;
      font-weight: 300;
    }
    .btn-confirm {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 250px;
    }
  }
}
