@import "colors.scss";

.lock-box {
  height: 175px;
  margin: 180px auto 0;
  text-align: center;
  background-color: $gray;
  padding-top: 30px;
  .input-password {
    padding: 0 15px;
    margin-bottom: 15px;
  }
}
