.AccountQRCode {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
}

.AccountQRCode__description {
  text-align: center;
  font-size: 10px;
  margin-top: 12px;
  font-family: monospace;
  line-height: 14px;
}
