@import "colors.scss";

.header-box {
  width: 360px;
  height: 60px;
  position: relative;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-back, .icon-logo, .icon-setting, .icon-add {
    display: inline-block;
    background-size: cover;
    cursor: pointer;
  }
  .icon-back {
    width: 15*0.8px;
    height: 24*0.8px;
    background-image: url("/static/images/arrow-left.png");
    opacity: 0.5;
    transition: .5s opacity;
    &:hover {
      opacity: 1;
    }
  }
  .icon-logo {
    width: 30*0.8px;
    height: 34*0.8px;
    background-image: url("/static/images/logo.png");
    cursor: default;
  }
  .icon-setting {
    width: 30*0.8px;
    height: 32*0.8px;
    background-image: url("/static/images/setting.png");
  }

  .icon-add {
    width: 30*0.8px;
    height: 30*0.8px;
    background-image: url("/static/images/icon-add.png");
  }


  .title {
    font-size: 18px;
    color: $title-text;
  }
  .add-account {
    position: relative;
    display: inline-block;
    color: $blue;
    border: 1px solid;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
    span{
      display: block;
      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
    // &:hover {
    //   .account_type_menu{
    //     display: block;
    //   }
    // }
    &::before{
      position: absolute;
      content: ' ';
      width: 100%;
      height: 10px;
      background-color: transparent;
      bottom: -10px;
      left:0;
    }
  }

  .account_type_menu{
    position: absolute;
    border:1px solid #ccc;
    border-radius: 4px;
    z-index: 2;
    width: 100px;
    right:0;
    top: 25px;
    background-color: #ffffff;
    padding: 0 10px;
    color: #666666;
    display: none;
    li{
      padding: 3px 0;
      &:first-child{
        border-bottom:1px solid #ccc;
      }
      &:hover {
        color: $blue;
      }
    }
    &:before{
      position: absolute;
      content: ' ';
      border-top: 6px solid #ccc;
      border-right: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #ccc;
      right: 20px;
      top: -6px;
      transform: rotate(45deg);
    }
    &:after{
      
      position: absolute;
      content: ' ';
      border-top: 6px solid white;
      border-right: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid white;
      right: 20px;
      top: -5px;
      transform: rotate(45deg);
    }
  }
}
