@import "colors.scss";

.Button {
  width: 300px;
  height: 40px;
  background-color: #000000;
  color: $white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  outline: 0;
  text-align: center;
  transition: background-color 300ms, color 300ms;

  &:hover {
    background-color: rgba($brand-black2, .8);
  }

  &:focus {
    background-color: rgba($brand-black2, .9);
  }
  &:disabled {
    background-color: #e9e9e9;
  }

  &.btn-account {
    width: 120px;
    height: 40px;
    background-color: $white;
    color: #000000;
    border: 1px solid;
  }


  &--blue {
    color: $brand-blue;
    background-color: $white;
    border: 1px solid $brand-blue;

    &:hover {
      color: $white;
      background-color: rgba($brand-blue, .8);
    }

    &:focus {
      color: $white;
      background-color: rgba($brand-blue, .6);
    }
  }
}

.Button__loading {
  display: inline-block;
  width: 10px;
  height: 10px;
}
