@import "colors.scss";

.LanguageSetting {
  margin-top: 20px;
  margin-bottom: 20px;
}

.LanguageSetting__title {
  font-size: 20px;
  margin-bottom: 6px;
}

.LanguageSetting__input {
  border-bottom: 1px solid $brand-black2;
  display: inline-block;
}

.LanguageSetting__button {
  margin-left: 10px;
  display: inline-block;
}

.LanguageSetting__errorMessage {
  font-size: 8px;
  color: $brand-red;
}

.LanguageSetting__Dropdown {
  width: 100%;
  color: $brand-blue;
  border-radius: 0;

  &:hover {
    color: $white;

    .Dropdown__currentItem {
      color: $white;
    }
  }

  .Dropdown__currentItem {
    color: $brand-blue;
  }

  .Dropdown__menu {
    width: 100%;
    border: 1px solid $brand-blue;
    border-color: $brand-blue;
    background-color: $white;
    top: 32px;
    left: 0;
    color: $brand-blue;
  }

  .Dropdown__menuItem {
    font-size: 12px;
    padding: 12px;
    color: $brand-blue;
    border-bottom: 1px solid $brand-blue;
    transition: background-color 300ms;

    &:hover {
      background-color: $brand-blue;
      color: $white;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}
