.ResourceDetail {
  margin-top: 30px;
}

.ResourceDetail__title {
  font-size: 20px;
  margin-bottom: 6px;
}

.ResourceDetail__hr {
  margin: 20px 0;
  border-top: 0;
}

.ResourceDetail__questionMark {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
