@import "colors.scss";

.SellRam {

}

.SellRam__description {
  margin-top: 6px;
  font-size: 14px;
  text-align: left;
}

.SellRam__InputWrapper {
  display: block;
  width: 100%;
  text-align: left;
}

.SellRam__Input {
  width: 50%;
  border-bottom: 1px solid $brand-black2 !important;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 4px;
  text-align: right;
}

.SellRam__InputDescription {
  margin-left: 4px;
  font-size: 14px;
  display: inline-block;
  vertical-align: bottom;
}

.SellRam__advancedOption {
  margin-top: 2px;
  text-align: right;
  text-decoration: underline;
  color: $brand-blue;
  cursor: pointer;
}

.SellRam__sellButton {
  margin: 10px auto;
  display: block;
  width: 50%;
}

.SellRam__expectedPrice {
  color: grey;
  font-size: 10px;
  width: 50%;
  text-align: right;
}

.SellRam__ramPrice {
  text-align: left;
  font-size: 10px;
  color: grey;
}
