@import "colors.scss";

.TokenBalance {
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 10px;
}

.TokenBalance__logo {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $brand-black2;
  margin: 6px auto;
  padding: 6px;
}

.TokenBalance__amount {
  font-size: 30px;
  display: inline-block;
  margin-right: 4px;
}

.TokenBalance__symbol {
  display: inline-block;
  font-size: 20px;
}

.TokenBalance__resources {
  font-size: 10px;
  color: $brand-deepblue;
}

.TokenBalance__viewResourceDetail {
  display: block;
  font-size: 10px;
  color: $brand-blue;
  text-decoration: underline;
  margin-top: 4px;
  &:hover {
    cursor: pointer;
  }
}

.TokenBalance__frozenBalance {
  display: inline-block;
  margin-left: 2px;
  color: $frozen;
  font-size: 14px;
}
