@import "colors.scss";

.TokenTransferSuccess {
  font-family: 'Montserrat';
}

.TokenTransferSuccess__title {
  font-size: 20px;
  margin-bottom: 6px;
  text-align: center;
}

.TokenTransferSuccess__item {
  display: block;
  border-bottom: 1px solid $brand-black2;
  font-family: 'Montserrat';
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 10px;

  &--txhash {
    font-size: 10px;
  }
}

.TokenTransferSuccess__receipt {
  border: 1px solid $brand-black2;
  padding: 10px;
}
