@import "colors.scss";

.TokenTransfer {
  font-family: 'Montserrat';
}

.TokenTransfer__title {
  font-size: 20px;
  margin-bottom: 6px;
  text-align: center;
}

.TokenTransfer__InputLabel {
  font-size: 12px;
}

.TokenTransfer__sendButton {
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
  height: 52px;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-size: 18px;
}

.TokenTransfer__Input {
  display: block;
  border-bottom: 1px solid $brand-black2;
  font-family: 'Montserrat';
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
}
