@import "colors.scss";

.UserRamStatus__title {
  margin-bottom: 4px;
}

.UserRamStatus__gauge {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $light-grey;
}

.UserRamStatus__bar {
  position: absolute;
  background-color: $ram-gauge;
  box-shadow: aliceblue 2px 2px 2px 2px;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.UserRamStauts__barDescription {
  margin-top: 4px;
  font-size: 10px;
  text-align: center;
}
