@import "colors.scss";

.UserGasStatus {
  margin-bottom: 10px;
}

.UserGasStatus__title {
  margin-bottom: 4px;
}

.UserGasStatus__gauge {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $light-grey;
  box-shadow: aliceblue 2px 2px 2px 2px;
}

.UserGasStatus__bar {
  position: absolute;
  background-color: $gas-gauge;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
}

.UserGasStatus__barDescription {
  margin-top: 4px;
  font-size: 10px;
  text-align: center;
}
