@import "colors.scss";

.iostWallet-box {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: $gray;
  padding-top: 40px;
  ul {
    padding: 0;
    li {
      display: flex;
      align-items: center;
      list-style: none;
      height: 80px;
      padding-left: 40px;
      cursor: pointer;
      &:hover {
        background-color: $white;
      }
      > i {
        display: inline-block;
        width: 25px;
        height: 20px;
        background-size: cover;
        margin-right: 20px;
        &.nodeVoting {
          background-image: url("/static/images/icon-accountManage.png");
        }
        &.userAgreement {
          background-image: url("/static/images/icon-changeLanguage.png");
        }
        &.developerMode {
          background-image: url("/static/images/icon-developerMode.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .name {
        font-size: 18px;
        color: #333333;
      }
    }
  }
}
