@font-face {
  font-family: 'SF-UI';
  src: url(/static/fonts/SF-UI-Display-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Roboto';
  src: url(/static/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url(/static/fonts/Montserrat-Regular.ttf) format('truetype');
}

html {
  //font-size: 10px;
}

body {
  margin: 0;
  padding: 0;

  width: 360px;
  height: 600px;
  overflow: hidden;
  word-break: break-word;

  //font-family: 'SF-UI';
  font-family:PingFang SC,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  * {
    box-sizing: border-box;
    -ms-overflow-style: none;
     &::-webkit-scrollbar {
       width: 1px;
       background-color: transparent;
       display: none !important;
     }
  }

  a {
    color: inherit;
    //text-decoration: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
}
