@import "colors.scss";

.tokenTransfer-box {
  background-color: $gray;
  height: 540px;
  padding: 20px 30px 0;
  .transferAmount-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .transferAmount {

    }
    .balance {
      color: $blue;
      font-weight: 300;
      text-transform: uppercase;
    }
    .iGAS-price {
      color: #333333;
      > i {
        display: inline-block;
        width: 7px;
        height: 13px;
        background-image: url("/static/images/arrow-right.png");
        background-size: cover;
        vertical-align: middle;
      }
    }
  }
  .label {
    font-size: 14px;
  }
  .input {
    padding-left: 15px;
    margin: 8px 0 10px;
    &.iGASLimit {
      margin: 0;
    }
  }
  .btn-submit {
    cursor: pointer;
    width: 100%;
    margin: 12px 0 5px;
    font-size: 18px;
  }
  .transferTips {
    color: $title-text;
  }
}





.TokenTransfer {
  font-family: 'Montserrat';
}

.TokenTransfer__title {
  font-size: 20px;
  margin-bottom: 6px;
  text-align: center;
}

.TokenTransfer__InputLabel {
  font-size: 12px;
}

.TokenTransfer__sendButton {
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
  height: 52px;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 18px;
}

.TokenTransfer__Input {
  display: block;
  border-bottom: 1px solid $brand-black2;
  font-family: 'Montserrat';
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.TokenTransfer__errorMessage {
  margin-top: 4px;
  color: $brand-red;
  font-size: 8px;
}
