@import "colors.scss";

.tokenTransfer-box {
  position: relative;
  background-color: $gray;
  height: 540px;
  padding: 20px 30px 0;
  .transferAmount-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .transferAmount {

    }
    .balance {
      color: $blue;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px;
    }
    .iGAS-price {
      color: #333333;
      > i {
        display: inline-block;
        width: 7px;
        height: 13px;
        background-image: url("/static/images/arrow-right.png");
        background-size: cover;
        vertical-align: middle;
      }
    }
  }
  .label {
    font-size: 14px;
  }
  .input {
    padding-left: 15px;
    margin: 8px 0 10px;
    &.iGASLimit {
      margin: 0;
    }
  }
  .btn-box {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    .btn-submit {
      cursor: pointer;
      width: 100%;
      margin: 12px 0 5px;
      font-size: 18px;
    }
    .transferTips {
      color: $title-text;
    }
  }


  .choose-token-box {
    position: relative;
    .token-list {
      display: flex;
      position: absolute;
      z-index: -1;
      top: 68px;
      flex-direction: column;
      width: 100%;
      height: 0;
      overflow-y: auto;
      box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.05);
      background-color: $white;
      border-radius: 4px;
      transition: 0.3s height;
      &.active {
        height: 160px;
        z-index: 1;
      }
      > li {
        font-size: 16px;
        cursor: pointer;
        color: $input-text;
        font-weight: 300;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
        .token-item {
          display: inline-block;
          width: 100%;
          height: 40px;
          padding: 9px 15px;
        }
      }
    }

    .icon-arrow {
      position: absolute;
      right: 10px;
      width: 16px;
      height: 15px;
      top: 38px;
      transform: rotateZ(-90deg);
      background-image: url("/static/images/arrow-left.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: 0.3s transform;
      &.active {
        top: 44px;
        transform: rotateZ(90deg);

      }
    }
  }

}

.TokenTransfer__errorMessage {
  margin-top: 4px;
  color: $brand-red;
  font-size: 8px;
}
