@import "colors.scss";

.accountImport-box {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: $gray;
  text-align: center;
  .privateKey-content {
    margin-top: 30px;
    width: 300px;
    height: 150px;
    border: 1px solid $border;
    border-radius: 4px;
    resize: none;
    padding: 5px;
  }
  .input-accountName {
    margin-top: 30px;
    width: 300px;
    height: 30px;
    border: 1px solid $border;
    border-radius: 4px;
    resize: none;
    padding: 5px;
  }

  .accountNameText {
    width:300px;
    resize: none;
    display: block;
    padding:5px 5px 0px 5px;
    margin:10px auto 0px auto;
    color:#999;
  }
  .btn-submit {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

 
}
