@import "colors.scss";

@font-face {
  font-family: 'Montserrat';
  src: url(/static/fonts/Montserrat-Regular.ttf) format('truetype');
}

body{
  margin: 0;
  padding: 0;
  min-width: 500px;
  height: 640px;
  overflow: hidden;
  word-break: break-word;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

p {
  margin: 0;
}

.AskPopup {
  // width: 90%;
  // font-family: 'Montserrat';
  // text-align: center;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.AskPopup__header {
  // height: 80px;
  position: relative;
  background-color: #F6F6F6;
  padding: 15px 30px;
  .title{
    font-size: 18px;
    margin-bottom: 9px;
    font-weight: 500;
  }
  p{
    span{
      // display: inline-block;
      // max-width: 200px;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
      &:nth-child(2){
        margin: 0 5px;
      }
    }
  }
  >span{
    color: #999999;
    position: absolute;
    right: 30px;
    width: 110px;
    height: 30px;
    top:15px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #999999;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &.active{
      border-color: #1E64E2;
      color: #1E64E2;
      font-weight: bold;
    }
  }
}

.AskPopup__container{
  padding: 15px 30px 0;
}

.AskPopup__tx {
  border: 1px solid $brand-deepblue;
  padding: 10px;
  text-align: center;
}

.AskPopup__button {
  margin: 0 6px;

  &--confirm {
    background-color: $brand-deepblue;
  }

  &--cancel {
    background-color: $brand-red;
  }
}

.AskPopup__confirmMessage {
  margin: 8px;
  font-weight: bold;
}

.AskPopupSummary {
  display: block;
  word-break: break-all;
}

.AskPopupSummary__description {
  padding: 8px;
  font-size: 14px;
  text-align: left;
}

.AskPopupSummary__item {
  font-weight: bold;

  &--abi {
    color: $brand-deepblue;
  }

  &--contractAddress {
    display: block;
    color: $brand-black;
    font-size: 8px;
  }

  &--args {
    color: $brand-red;
  }
}

.AskPopupDetail {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  margin-bottom: 6px;
}

.AskPopupDetail__contract {
  font-size: 8px;
  word-break: break-all;
}

.AskPopupDetail__abi {
  display: inline-block;
}

.AskPopupDetail__args {
  display: inline-block;
}


.AskPopup__detail{
  .title{
    font-size: 14px;
  }
  p{
    width: 100%;;
    background-color: #F6F6F6;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    padding: 0 20px;
    line-height: 40px;
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .amount{
    text-transform : uppercase;
  }
  .memo{
    min-height: 40px;
    margin-bottom: 5px;
    line-height: 1.5;
    padding: 10px 20px;
    max-height: 170px;
    overflow: scroll; 
  }
}

.AskPopup__tip{
  font-size: 12px;
  color: #999999;
}

.AskPopup__buttons{
  text-align: right;
  margin-top: 16px;
  button{
    width: 130px;
    height: 40px;
    border:1px solid #000;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    color: #000;
    &:last-child{
      background-color: #000;
      color: #fff;
      margin-left: 15px;
    }
  }
  &.active{
    button{
      border-color: #1E64E2;
      color: #1E64E2;
      &:last-child{
        background-color: #1E64E2;
        color: #fff;
      }
    }
  }
}
